@charset "UTF-8";
header a {
	text-decoration: none;
	color: white;
}

header .dropdown-menu li a {
	color: white;
	font-weight: bold;
}

header .wrap>ul>li:hover>ul {
	display: block;
}

header .wrap ul>li>ul>li>a:hover {
	background-color: #0dcaf0;
	transition: ease 1s;
}

header .navbar-nav .dropdown-menu li {
	text-align: center;
}