<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activityManage">
	<select id="seq" resultType="Integer">
		SELECT activity_seq.NEXTVAL FROM dual
	</select>
	
	<select id="readPartnerNum" parameterType="String" resultType="Integer">
		SELECT partnerNum FROM partner WHERE partnerId = #{userId}
	</select>
	
	<insert id="insertActivity" parameterType="com.sp.trip.partner.activityManage.Activity">
		INSERT INTO activity(activityNum, activityName, cityNum, activityType, activityTypeName, activityDetail, partnerNum)
			VALUES(#{activityNum}, #{activityName}, #{cityNum}, #{activityType}, #{activityTypeName}, #{activityDetail}, #{partnerNum})
	</insert>
	
	<insert id="insertActivityDetail" parameterType="com.sp.trip.partner.activityManage.Activity">
		INSERT INTO activityDetail(detailNum, timeRange, maxNum, activityNum, price, totalTime, zip, addr1, addr2, titleImgname)
			VALUES (activityDetail_seq.NEXTVAL, '시간대', 0, #{activityNum}, #{price}, #{totalTime}, #{zip}, #{addr1}, #{addr2}, #{titleImgname})
	</insert>
	
	
	<select id="dataCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM activity
		WHERE partnerNum = #{partnerNum}
	</select>
	
	<select id="listActivity" parameterType="map" resultType="com.sp.trip.partner.activityManage.Activity">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT a1.activityNum, cityName, activityName, activityType, activityTypeName, price, totalTime, titleImgname
		        FROM activity a1
		        LEFT OUTER JOIN activityDetail a2 ON a1.activityNum = a2.activityNum
		        LEFT OUTER JOIN city c ON a1.cityNum = c.cityNum
		        WHERE partnerNum = #{partnerNum}
		        ORDER BY a1.activityNum DESC
		    ) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="readActivity" parameterType="Integer" resultType="com.sp.trip.partner.activityManage.Activity">
		SELECT a1.activityNum, a1.cityNum, activityName, activityDetail, activityType, activityTypeName,
			detailNum, price, totalTime, zip, addr1, addr2, titleImgname
		FROM activity a1
		LEFT OUTER JOIN activityDetail a2 ON a1.activityNum = a2.activityNum
		WHERE a1.activityNum = #{activityNum}
	</select>
	
	<update id="updateActivity" parameterType="com.sp.trip.partner.activityManage.Activity">
		UPDATE activity SET cityNum = #{cityNum}, activityName = #{activityName},
			activityType = #{activityType}, activityTypeName = #{activityTypeName}, activityDetail = #{activityDetail}
		WHERE activityNum = #{activityNum} AND partnerNum = #{partnerNum}
	</update>
	
	<update id="updateActivityDetail" parameterType="com.sp.trip.partner.activityManage.Activity">
		UPDATE activityDetail SET price = #{price}, totalTime = #{totalTime},
			zip = #{zip}, addr1 = #{addr1}, addr2 = #{addr2}, titleImgname = #{titleImgname}
		WHERE activityNum = #{activityNum}
	</update>
	
	<delete id="deleteActivityDetail" parameterType="map">
		DELETE FROM activityDetail 
		WHERE activityNum = #{activityNum}
	</delete>
	
	<delete id="deleteActivity" parameterType="map">
		DELETE FROM activity
		WHERE activityNum = #{activityNum} AND partnerNum = #{partnerNum}
	</delete>
	
</mapper>