<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freebbs">

	<!-- 게시물 시퀀스 증가 -->
	<select id="seq" resultType="Integer">
		SELECT freebbs_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 자유게시판 카테고리 -->
	<select id="freeCategory" resultType="com.sp.trip.freebbs.Board">
		SELECT freecateNum, freecateName 
		FROM freecate
		ORDER BY freecateNum
	</select> 
	
	<insert id="insertBoard" parameterType="com.sp.trip.freebbs.Board">
		INSERT INTO freebbs(freeNum, userId, subject, content, freecateNum, hitCount, reg_date)
		VALUES(#{freeNum}, #{userId}, #{subject}, #{content}, #{freecateNum}, 0, SYSDATE)
	</insert>
	
	<sql id="where-list">
		<if test="condition=='all' ">
			( INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject' ">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content' ">
			INSTR(content, #{keyword}) &gt; 0 
		</if>
		<if test="condition=='reg_date' ">
			( TO_CHAR(reg_date, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(reg_date, 'YYYYMMDD') = #{keyword} )
		</if>
	</sql>
	
		<!-- 데이터개수  -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM freebbs
		<where>
			<if test="keyword != null and keyword!=''  ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 리스트 -->
	<select id="listBoard" parameterType="map" resultType="com.sp.trip.freebbs.Board">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT a.freeNum, userId, subject, saveFilename, reg_date, hitCount, freecateNum
				FROM freebbs a
				LEFT OUTER JOIN (
					SELECT freeFileNum, freeNum, saveFilename FROM (
						SELECT freeFileNum, freeNum, saveFilename, 
							ROW_NUMBER() OVER(PARTITION BY freeNum ORDER BY freeFileNum ASC) rank
						 FROM freebbsFile
					) WHERE rank = 1
				) i ON a.freeNum = i.freeNum
				<where>
					<if test="keyword != null and keyword != ''">
						<include refid="where-list"/>
					</if>
				</where>
				ORDER BY freeNum DESC			
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	 </select>
	
    <!-- 글보기 -->
    <select id="readBoard" parameterType="Integer" resultType="com.sp.trip.freebbs.Board">
		SELECT freeNum, a.userId, userName, subject, content, a.reg_date, hitCount, freecateNum
		FROM freebbs a
		JOIN member m ON a.userId = m.userId
		WHERE freeNum = #{freeNum}
	</select>
	
	<!-- 이전글 -->
	<select id="preReadBoard" parameterType="map" resultType="com.sp.trip.freebbs.Board">
		SELECT * FROM (
			SELECT freeNum, subject
			FROM freebbs
			<where>
				userId = #{userId}
				<if test="keyword != null and keyword != '' ">
					AND <include refid="where-list"/>
				</if>
				AND (freeNum &gt; #{freeNum})
			</where>
			ORDER BY freeNum ASC
		) WHERE ROWNUM = 1
    </select>
    
    	<!-- 다음글 -->
	<select id="nextReadBoard" parameterType="map" resultType="com.sp.trip.freebbs.Board">
		SELECT * FROM (
			SELECT freeNum, subject
			FROM freebbs
			<where>
				userId = #{userId}
				<if test="keyword != null and keyword != '' ">
					AND <include refid="where-list"/>
				</if>
				AND (freeNum &lt; #{freeNum})
			</where>
			ORDER BY freeNum ASC
		) WHERE ROWNUM = 1
    </select>
    
    <!-- 수정 -->
    <update id="updateBoard" parameterType="com.sp.trip.freebbs.Board">
    	UPDATE freebbs SET subject=#{subject}, content=#{content}
		WHERE freeNum = #{freeNum}
    </update>
    
    <!-- 삭제 -->
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM freebbs WHERE freeNum = #{freeNum}
	</delete>
    
		<!-- 파일 -->
	<insert id="insertFile" parameterType="com.sp.trip.freebbs.Board">
		INSERT INTO freebbsFile(freeFileNum, freeNum, saveFilename)
		VALUES (freebbsFile_seq.NEXTVAL, #{freeNum}, #{saveFilename})
	</insert>
	
	<select id="listFile" parameterType="Integer" resultType="com.sp.trip.freebbs.Board">
		SELECT freeFileNum, freeNum, saveFilename
		FROM freebbsFile
		WHERE freeNum = #{freeNum}
	</select>
	
	<select id="readFile" parameterType="Integer" resultType="com.sp.trip.freebbs.Board">
		SELECT freeFileNum, freeNum, saveFilename
		FROM freebbsFile
	    WHERE freeFileNum = #{freeFileNum}      
	</select>
	
	<delete id="deleteFile" parameterType="map">
		DELETE FROM freebbsFile WHERE ${field} = #{freeNum}
	</delete>
	
		<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE freebbs SET hitCount=hitCount+1 WHERE freeNum = #{freeNum}
	</update>
	
</mapper>