<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String" resultType="com.sp.trip.member.Member">
		SELECT membership, userId, userName, userPwd, reg_date, modify_date, last_login
		FROM member
		WHERE userId = #{userId} AND enabled != 0
	</select>
	
	<update id="updateLastLogin" parameterType="String">
		UPDATE member1 SET last_login = SYSDATE, failure_cnt = 0
		WHERE userId=#{userId}
	</update>
	
	<select id="readMember" parameterType="String" resultType="com.sp.trip.member.Member">
		SELECT userId, userName, userPwd, email, tel, TO_CHAR(birth, 'YYYY-MM-DD') birth,
				 zip, addr1, addr2
		FROM member 
		WHERE userId = #{userId}
	</select>
	
	<update id="updateMember" parameterType="com.sp.trip.member.Member">
		UPDATE member SET userPwd=#{userPwd}, modify_date=SYSDATE,
			email=#{email, jdbcType=VARCHAR}, 
			tel=#{tel, jdbcType=VARCHAR}, birth=#{birth, jdbcType=VARCHAR},
			zip=#{zip, jdbcType=VARCHAR},
			addr1=#{addr1, jdbcType=VARCHAR}, addr2=#{addr2, jdbcType=VARCHAR}
		WHERE userId=#{userId}
    </update>
    
</mapper>