<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

<select id="searchMyLike" parameterType="String" resultType="Integer">
	SELECT courseNum FROM travelcourselike WHERE userId = #{userId}
</select>

<select id="searchMyScrap" parameterType="String" resultType="Integer">
	SELECT scrapSectionNum courseNum FROM scrap WHERE userId = #{userId} and scrapSection = 1
</select>

<select id="listMy" parameterType="map" resultType="com.sp.trip.travelCourse.TravelCourse">
	SELECT * FROM (
	    SELECT ROWNUM rnum, tb.* FROM (
	        SELECT a.courseNum, cityName, themeName, period, subject, courseDetailNum, saveFilename
	        FROM travelCourse a
	        JOIN travelCourseDetail d ON  a.courseNum = d.courseNum
	        LEFT OUTER JOIN city c ON a.cityNum = c.cityNum
	        LEFT OUTER JOIN theme t ON a.themeNum = t.themeNum
	        JOIN travelcourseImage i ON  i.travelCourseNum = d.courseDetailNum
	        where course_seq=1 AND a.courseNum = #{courseNum}
	        ORDER BY a.reg_date DESC
	        )tb WHERE ROWNUM &lt;= #{end}
	) WHERE rnum &gt;= #{start}
</select>

<select id="listOrderDatail" parameterType="map" resultType="com.sp.trip.activity.Reserve">
    SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        	select a.reserveNum,  TO_CHAR(payDate, 'YYYY-MM-DD') payDate, payAmount, 
                        TO_CHAR(usingDate, 'YYYY-MM-DD') usingDate, mileageUse, usingStatus, activityName
                    from activityPay a
                    JOIN activityReserve b ON a.reserveNum = b.reserveNum
                    JOIN activityReserveDetail c ON b.reserveNum = c.reserveNum
                    JOIN activityDetail d ON c.DetailNum = d.DetailNum
                    JOIN activity e ON d.activityNum = e.activityNum
                    WHERE userId = #{userId}
  		 	ORDER BY payDate DESC 
		    ) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
</select>

<select id="orderDatail" parameterType="Integer" resultType="com.sp.trip.activity.Reserve">
	select b.userId, a.reserveNum, d.activityNum,  TO_CHAR(payDate, 'YYYY-MM-DD') payDate, payAmount, 
	     TO_CHAR(usingDate, 'YYYY-MM-DD') usingDate, mileageUse, usingStatus, activityName,
	     titleImgname, d.price, totalMen,  name, tel, email, TO_CHAR(reserveDoneDate, 'YYYY-MM-DD') reserveDoneDate
	 from activityPay a
	 JOIN activityReserve b ON a.reserveNum = b.reserveNum
	 JOIN activityReserveDetail c ON b.reserveNum = c.reserveNum
	 JOIN activityDetail d ON c.DetailNum = d.DetailNum
	 JOIN activity e ON d.activityNum = e.activityNum
	 WHERE a.reserveNum = #{reserveNum}
</select>


<select id="orderCount" parameterType="String" resultType="Integer">
SELECT NVL(COUNT(*), 0) FROM activityReserve WHERE userId = #{userId}
</select>

<select id="userProfile" parameterType="String" resultType="String">
SELECT profileImgName FROM member WHERE userId = #{userId}
</select>

</mapper>