<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="theme">
	<!-- 게시물 시퀀스 증가 -->
	<select id="adminCourseSeq" resultType="Integer">
		SELECT adminCourse_seq.NEXTVAL FROM dual
	</select>
	<!-- 게시물 insert -->
	<insert id="insertBoard" parameterType="com.sp.trip.theme.Theme">
		INSERT INTO adminCourse(courseNum, userID, subject, content, cityNum, themeNum, period, hashtag, reg_date)
		VALUES (#{courseNum}, #{userId}, #{subject}, #{content}, #{cityNum}, #{themeNum}, #{period}, #{hashtag}, SYSDATE)
	</insert>
	<!-- 상세경로 시퀀스 증가 -->
	<select id="adminCourseDetailseq" resultType="Integer">
		SELECT adminCourseDetail_seq.NEXTVAL FROM dual
	</select>
	<!-- 게시물 상세 경로 insert -->
	<insert id="insertCourse" parameterType="com.sp.trip.theme.Theme">
		INSERT INTO adminCourseDetail (courseDetailNum, courseNum, course_seq, placeName, address, longitude, latitude, courseContent)
  		VALUES (#{courseDetailNum}, #{courseNum} , #{course_seq}, #{placeName}, #{address}, #{longitude}, #{latitude}, #{courseContent})
	</insert>
	<!-- 상세경로 이미지 insert -->
	<insert id="insertCourseImg" parameterType="com.sp.trip.theme.Theme">
		INSERT INTO adminCourseImg (imageFileNum, courseNum, courseDetailNum, saveFileName)
		VALUES (adminCourseImg_seq.NEXTVAL, #{courseNum}, #{courseDetailNum}, #{saveFileName})
	</insert>
	
	<!-- 도시 카테고리 -->
	<select id="cityCategory" resultType="com.sp.trip.theme.Theme">
		SELECT cityNum cityNum, cityName cityName
		FROM city
		ORDER BY cityNum
	</select> 
	<!-- 테마 카테고리 -->
	<select id="themeCategory" resultType="com.sp.trip.theme.Theme">
		SELECT themeNum, themeName 
		FROM theme
		ORDER BY themeNum
	</select> 
	<!-- 검색조건 -->
	<sql id="where-list">
		<if test="condition=='all'">
			( INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0 
		</if>
		<if test="condition=='userName'">
			userName=#{keyword}
		</if>
		<if test="condition=='reg_date'">
			( TO_CHAR(p.reg_date, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(p.reg_date, 'YYYYMMDD') = #{keyword} )
		</if>
	</sql>
	<!-- 리스트 출력 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM adminCourse ac
		JOIN member m ON ac.userId=m.userId
		JOIN city c ON ac.cityNum = c.cityNum
		JOIN theme t ON ac.themeNum = t.themeNum
		<where>
			<if test="keyword!=null and keyword!='' ">
				( INSTR(subject, #{keyword}) &gt; 0 )
			</if>
			<if test="areaCode != 0">
				AND ( areaCode = #{areaCode} )
			</if>
			<if test="themeNum != 0">
				AND ( ac.themeNum = #{themeNum} )
			</if>
			<if test="hashtag != null and hashtag != ''">
				AND (INSTR(hashtag, #{hashtag}) &gt; 0)
			</if>
			<if test="period != 0">
				AND ( period = #{period} )
			</if>
		</where>
	</select>
	<!-- 출력할 리스트 -->
	<select id="listAdminCourse" parameterType="map" resultType="com.sp.trip.theme.Theme">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT ac.courseNum, ac.userId, userName, subject, content, 
					hitCount, ac.cityNum, cityName, ac.themeNum, themeName,
					period, hashtag, TO_CHAR(ac.reg_date, 'yyyy-mm-dd') as reg_date
				FROM adminCourse ac
				JOIN member m ON ac.userId = m.userId
				JOIN city c ON ac.cityNum = c.cityNum
				JOIN theme t ON ac.themeNum = t.themeNum
				<where>
					<if test="keyword!=null and keyword!='' ">
						( INSTR(subject, #{keyword}) &gt; 0 )
						OR
						( INSTR(content, #{keyword}) &gt; 0 )
					</if>
					<if test="areaCode != 0">
						AND ( areaCode = #{areaCode} )
					</if>
					<if test="themeNum != 0">
						AND ( ac.themeNum = #{themeNum} )
					</if>
					<if test="hashtag != null and hashtag != ''">
						AND (INSTR(hashtag, #{hashtag}) &gt; 0)
					</if>
					<if test="period != null and period != ''">
						AND ( period = #{period} )
					</if>
				</where>
				ORDER BY ac.courseNum DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	<!-- 게시물의 상세코스 -->
	<select id="listAdminDetailCourse" parameterType="Integer"  resultType="com.sp.trip.theme.Theme">
      SELECT a.courseNum, placeName, course_seq courseSeq
      FROM adminCourseDetail a
      JOIN adminCourse b ON a.courseNum = b.courseNum
      WHERE a.courseNum = #{courseNum}
      ORDER BY courseSeq ASC
   </select>
   <!-- 게시물의 대표 이미지 -->
   <select id="listImg" parameterType="Integer"  resultType="String">
      SELECT saveFileName
      FROM adminCourseImg a
      JOIN adminCourseDetail b ON  a.courseDetailNum = b.courseDetailNum
      WHERE course_seq = 1 AND  a.courseNum = #{courseNum}
   </select>
	
	
</mapper>